body {
    background: fixed;
    background-image: url(img/fond.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    cursor:url(img/cursor.cur), auto;
    
}
.img1{
    width: 100%;
    margin:auto;
    border:solid white 4px;
    transition:1s;
}
nav>ul{
    display:flex;
    flex-wrap: nowrap;
    list-style-type: None;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    padding:0;
 
    
}
nav>ul>li{
    border:solid white 4px;
    padding:5px;
    width:100%;
    text-align: center;
    transition:1s;
    
}
nav>ul>li>a{
    text-decoration: None;
    font-weight: bold;
    color:white;
}



aside{
    border: solid white 4px;
    margin:5px;
    margin-top: 16px;
   
    
 
}
h1,h2{
    margin-left: 10px;
    color:white;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}


aside{
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 25px;
    transition:1s;
}
aside>section>a{
    color:white;
    text-align: center;
    display:block;
    border:solid white 2px;
    margin:5px;
}
div{
    display: flex;
    flex-wrap:nowrap;
}
.img4{
    height:20px;
    margin-bottom: 5px;
    border:solid white 1px;
}
span{
    color:white;
}
p{
    color:white;
    font-weight:bold;
}
footer{
    border: solid white 5px;
    background-color: rgba(0,0,0,0.5);
    transition:1s;
}
footer>p{
    padding-left:5px;
    font-weight: bold;
}
aside>section>p{
    text-align:center;
}


nav>ul>li:hover{
    transform: scale(1.015);
    background-color: rgba(0,0,0,0.75);
}
aside:hover{
    transform: scale(1.01);
    background-color: rgba(0,0,0,0.75);
}
footer:hover{
    transform: scale(1.01);
    background-color: rgba(0,0,0,0.75);
}
a{
    display:block;
}
.img1:hover{
    transform:scale(1.01);
}
h1{
     border: solid white 5px;
    background-color: rgba(0,0,0,0.5);
    transition:1s;
    margin:0;
    
}